/* def */
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
@import "compass/css3";
@import "compass/css3/user-interface";
@import "animation";
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
// misc

$rem: 1rem; $hem: 0.5rem; $qem: 0.25rem;
$link: #336699;
$layers: '../images/layers';
$resp: 800px;
$debug: 1;
$remx: 12px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
//color

$button1: #CE4C12;  $button2: #CC3311;

$red: #bb0826;
$brown: #8a3604;
$shad1: rgba( 123, 123, 123, 0.123 );
$shad2: rgba( 23, 23, 23, 0.23 );
$shad3: rgba( 77, 77, 77, 0.7 );

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
//shade

$lite: rgb( 250, 250, 250 );   // lite-lite
$gryL: rgb( 230, 230, 230 );   // lite-gray
$gryM: rgb( 155, 155, 155 );   // dark-midd
$gryD: rgb( 111, 111, 111 );   // dark-gray
$dark: rgb(  55,  55,  55 );   // dark-dark

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
$ww: 980px;
$unit: $ww / 97;
$wt: $unit * 15;
$ht: $unit * 15;
