/* LAYOUT */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body {
    padding: 9px;
    overflow-y: scroll;

    &.mobile {
        padding: 0;
    }
    &.eng {
        img.esp {
            display: none!important;
        }
    }
    &.esp {
        img.eng {
            display: none!important;
        }
    }
    header {
        position: relative;
        z-index: 9;
    }
    footer {
        @include rex('margin-top', 0.333);
        @include rex('height', 4);
        color: gray;
        font-size: 10px;
        padding: 0 6px;
        position: absolute;
        vertical-align: baseline;
        width: 100%;

        &.fixed .right {
            background-color: $shad3;
            bottom: 0;
            font-size: 133%;
            padding: 6px 36px 12px 18px;
            position: fixed;
            right: 0;
            text-align: right;
            z-index: 99;

            * {
                color: white;
                text-shadow: 1px 1px 2px black;
            }
        }
        button:hover {
            text-decoration: none;
        }
    }
}
#Page {
    background-color: white;
    box-shadow: 3px 333px 333px $shad1;
    margin: auto;
    position: relative;
    width: 984px;

    .mobile & {
        width: 472px;

        .desktop {
            display: none;
        }
    }

    div.aturitmo {
        background-image: url(../images/header/aturitmo.png);
        height: 40px;
        left: 10px;
        position: absolute;
        top: 26px;
        width: 315px;
    }
    div.logo {
        background-image: url(../images/header/logo.png);
        height: 55px;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 55px;
    }
    h1 {
        color: white !important;
        font-size: 1px;
        position: relative;
        z-index: -1;
    }
    h2 {
        @extend %myriad;
        font-size: 210%;
    }
    h3 {
        @extend %archer;
        font-size: 145%;
        font-style: italic;
    }
}
#Layout {
    border-collapse: separate;
    border-spacing: 10px;
    padding-top: 80px;
    position: relative;
    z-index: 1;

    .mobile & {
        border-spacing: 7px;
    }

    td {
        background-repeat: no-repeat;
        height: 152px; width: 152px;
        position: relative;
        vertical-align: top;

        a {
            text-decoration: none;
        }
        img {
            position: absolute;
            right: 0;
        }
    }
}
div.text, div.head {
    color: white;
    font-size: 18px;
    line-height: 1.35;

    @include rex('padding', 1);

    body:not(.mobile) & {
        @media (max-width: 800px) {
            @include rex('padding', 0.5);
        }
    }
    p {
        @extend %myriad;
        margin: 0;
        @include rex('margin-right', 0.5);
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
