/* MOBILE REVEALS */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.mobile {
    footer {
        text-align: center;
        * {
            float: none; }
    }
}
.mobile {
    .desktop {
        display: none !important;
    }
}
.desktop {
    .mobile {
        display: none !important;
    }
}
.mobile {
    .mobile {
        display: inherit !important;
    }
}
.mobile #Layout {
    article.tile:not(.square) {
        width: 460px;
        br { display: none; }
    }
    .tile.square {
        max-width: $unit * 14.5;
    }
    section.reveal {
        height: 300px;
    }
    section.reveal._credit {
        height: 300% !important;
    }
    article.reveal {
        button {
            @include rex('margin', 1);
        }

        &.reveal {
            background-repeat: repeat-y;
            background-position: 0% 75%;
        }

        .head {
            width: 80%  !important;

            h3 {
                font-size: 166%;
            }
        }
        .text {
            width: 90%  !important;

            p {
                font-size: 120%;
                line-height: 1.2;
                margin: $unit 0;
            }
        }

        // TXT 1

        &.purple {
            .head {
                @include pos(2, 3);
                font-size: 140%;
            }
            .mobile {
                display: block;
            }
            .text {
                @include rex('height', 18);
                @include pos(2, 12);

                hr {
                    @include rex('width', 33);
                    height: 0;
                    margin: 1em 0;
                }
                p {
                    @include rex('margin-left', 0);
                    @include rex('width', 23);
                    text-align: left;
                }
            }
            button {
                @include rex('margin-top', 1);
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
