/* MODALS */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#Modal {

    .msie & {
        background-color: rgba(255, 255, 255, .666);
    }
    $clr1: rgba(255, 255, 255, 0.7);
    $clr2: rgba(255, 255, 255, 0.0);
    @include background-image( linear-gradient(top, $clr1 50%, $clr2 100%) );

    cursor: not-allowed;
    display: none;
    height: 100%; width: 100%;
    left: 0; top: 0;
    position: fixed;
    text-align: center;
    z-index: 999;

    & > div {
        display: inline-block;
        margin: auto;
        min-width: 400px;
        text-align: left;
        top: 50px;
    }

    .closeWidget {
        color: white;
        font-family: arial;
        font-size: 28px;
        font-weight: bold;
        line-height: 1;
        position: absolute;
        right: 0;
        text-decoration: none;
        top: 0;
        z-index: 99999;

        &:hover, &.hover {
            color: $red;
            cursor: pointer;
        }
    }

    aside {
        &.message {
            @extend %ani;
            @include nosel();
            background-color: $gray;
            background-color: $shad3;
            top: 3px;
            color: white;
            left: 50%;
            letter-spacing: 2px;
            margin: 0 -222px;
            padding: 0.5em;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            width: 444px;
            z-index: 99999;

            &:before {
                content: 'double-click to dismiss';
            }
        }
        &.message.labelbaby, &.message:active {
            @include transition( transform 5s ease-in .25s );
            @include transform( scale(2) translate3d(0,0,0) rotate(-12deg) );
            @include hgrad(#944, #c44);
            @include hgrad($button2, $button1);

            border: 1px dotted white;
            border-width: 0 2px;
            box-shadow: 0 0 11px gray;
            cursor: move;
            opacity: 1;

            &:before {
                text-shadow: 1px 2px 2px $shad3, -0px -1px 1px white;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
