/* MODALS */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.modal {

    .msie & {
        background-color: rgba(255, 255, 255, .666);
    }
    $clr1: rgba(255, 255, 255, 0.7);
    $clr2: rgba(255, 255, 255, 0.0);
    @include background-image( linear-gradient(top, $clr1 50%, $clr2 100%) );

    display: none;
    height: 150%; width: 100%;
    left: 0; top: 0;
    padding-bottom: 33%;
    position: fixed;
    z-index: 999;

    & > div {
        min-width: 400px;
    }
    #Legal {
        width: 60%;
        margin: 1em auto;
    }
    aside {
        &.icon {
/*            background-image: url(../images/controls/close.png);*/
            background-repeat: no-repeat;
            color: transparent;
            cursor: pointer;
            display: inline-block;
            float: right;
            margin: 3px;
            opacity: 0.75;
            width: 32px; height: 32px;
            z-index: 9;

            &:hover {
                opacity: 1;
            }
            &:before {
                //content: 'X';
            }
        }
        &.text {
            background-color: gray;
            background-color: $shad3;
            top: 3px;
            color: white;
            cursor: pointer;
            left: 50%;
            letter-spacing: 2px;
            margin: 0 -222px;
            padding: 0.5em;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            width: 444px;

            &:before {
                content: 'click to dismiss';
            }
        }
        &.text.labelbaby {
            @include transform( scale(1) translate3d(0,0,0) rotate(-2deg) );
            @include hgrad(#944, #c44);
            @include hgrad($button2, $button1);

            border: 1px dotted white;
            border-width: 0 2px;
            box-shadow: 0 0 11px gray;
            font-size: 150%;
            opacity: 1;

            &:before {
                text-shadow: 1px 2px 3px black, -0px -1px 2px white;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
