/* SCROLL */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#ISwrapper {
    $deep: #0095c8;
    background-color: $deep;
    border: $unit solid $deep;
    box-shadow: inset 0 0 $unit*3 $deep;
    box-shadow: 1px 3px 15px $deep, 1px 3px 15px black;
    cursor: -webkit-grab;
    left: 15%; right: 15%; height: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 1;

    *:active {
        cursor: -webkit-grabbing;
    }
}
.iscustom {
    color: white;
    display: block;
    font-size: 115%;
    padding: 1% 10% 15% 1%;
    position: absolute;
    width: 100%;
    z-index: 1;
    @include text-size-adjust( none );
    @include transform( translateZ(0) );
    @include user-select( none );
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;

    hr {
        margin: 1em 0;
    }
    & ul {
        color: white;
        list-style-type: square;
        text-align: left;
        width: 100%;
    }
    li {
        font-size: 100%;
        line-height: 1.4;
        margin-bottom: $unit;
        margin-left: $unit * 2;
        padding: 0 $unit;
    }
    h2 {
        font-style: italic;
        margin-top: $unit * 4;
    }
    p, h3, h4 {
        line-height: 1.6;
        margin: $unit 0;
    }
    h3, h4 {
        font-style: italic;
    }
    p, li {
        font-size: 95%;
    }
    a {
        color: white;
    }
    hr {
        border-top: 1px dotted white;
    }
}

.scrollerXwidget {
    color: white;
    font: bold 20px/1 arial;
    overflow: hidden;
    position: absolute;
    top: $unit;
    right: $unit;
    z-index: 9999;

    &:hover {
        color: red;
        cursor: pointer;
    }
}

.iScrollHorizontalScrollbar,
.iScrollVerticalScrollbar { // all
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: absolute;
    z-index: 9999;
}
.iScrollHorizontalScrollbar {
    bottom: 0;
    height: $unit * 1.5;
    left: $unit;
    right: $unit * 4;
}
.iScrollVerticalScrollbar {
    bottom: $unit * 2;
    right: $unit;
    top: $unit * 4;
    width: $unit * 1.5;
}
.iScrollIndicator {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: absolute;
}
.iScrollHorizontalScrollbar .iScrollIndicator {
    height: 100%;
}
.iScrollVerticalScrollbar .iScrollIndicator {
    width: 100%;
}
.iScrollBothScrollbars { // only when both show
    &.iScrollHorizontalScrollbar {
        right: $unit;
    }
    &.iScrollVerticalScrollbar {
        bottom: $unit;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
