/* TEXT */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
h1 {
    color: white !important;
    font-size: 1px;
    position: relative;
    z-index: -1;
}

.tile {
    color: white;
    padding: 14px 0 0 14px;

    p {
        font-size: 15px;
        line-height: 1.5;
        margin: 0.3em 0;
        @include thick();
    }

    h2, h3 {
        font-weight: 500;
        @include archer();
    }
    h2 {
        font-size: 2.5em;
        line-height: 1.15;
    }
    h3 {
        font-size: 1.4em;
        line-height: 1.6;
    }
    button {
        position: absolute;
        bottom: 1em;
        right: 1em;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
