/* TEXT */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
h1 {
    color: white !important;
    font-size: 1px;
    position: relative;
    z-index: -1;
}

.tile {
    color: white;
    padding: 14px 0 0 14px;

    p {
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 1.5;
        margin: 0.3em 0;
        @include thick();
    }

    h2, h3 {
        font-weight: 500;
    }
    h2 {
        font-size: 2.5em;
        line-height: 1.15;

        sup {
            $x: 1em / 4;
            font: 200 $x 'verdana';
            margin-right: $x / -3;
            position: relative;
            top: $x / -2;
        }
    }
    h3 {
        font-size: 1.4em;
        line-height: 1.6;
    }
    a.orange,
    button {
        position: absolute;
        bottom: 1em;
        right: 1em;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
