/* TILES */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Layout.tiles {
    ///grid

    @mixin span($col: 1, $row: 1) {
        width: $col * $wt + ($col - 1) * $unit;
        height: $row * $ht + ($row - 1) * $unit;
    }
    @include clearfix();

    .collapse {
        display: none;
    }
    section {
        height: 100px;
    }
    article {
        background-repeat: no-repeat;
        display: inline-block;
        float: left;
        margin: $unit 0 0 $unit;
        position: relative;
        @include nosel();
        @include box-sizing(border-box);

        //  R1 semantic
        /* - - - - - - - - - - - - - - - - - - - - - */
        &.girls {
            background-image: url(../images/fpo/big_girls.png);
            .desktop & {
                @include span(3, 2);
            }
            .mobile & {/* row? col?*/}
        }
        &.cafe {
            background-image: url(../images/fpo/sq_cafe.png);
            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        &.quiz {
            background-image: url(../images/fpo/quiz.png);
            .desktop & {
                font-size: 110%;
                @include span(2);
            }
            .mobile & {/* row? col?*/}
        }
        //  R2 semantic
        /* - - - - - - - - - - - - - - - - - - - - - */
        &.fellows {
            background-image: url(../images/fpo/fellows.png);
            .desktop & {
                @include span(2);
            }
            .mobile & {/* row? col?*/}
        }
        &.puppy {
            background-image: url(../images/fpo/sq_puppy.png);
            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        //  R3 semantic
        /* - - - - - - - - - - - - - - - - - - - - - */
        &.going {
            background-image: url(../images/fpo/going.png);
            clear: left;
            .desktop & {
                @include span(2);
            }
            .mobile & {/* row? col?*/}
        }
        &.desk {
            background-image: url(../images/fpo/sq_desk.png);
            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        &.steps {
            background-image: url(../images/fpo/steps.png);
            .desktop & {
                padding-left: 15em;
                @include span(3);
            }
            .mobile & {/* row? col?*/}
        }
        //  R4 semantic
        /* - - - - - - - - - - - - - - - - - - - - - */
        &.credit {
            background-image: url(../images/fpo/credit.png);
            .desktop & {
                @include span(2);
            }
            .mobile & {/* row? col?*/}
        }
        &.car {
            background-image: url(../images/fpo/car.png);
            .desktop & {
                @include span(2);
            }
            .mobile & {/* row? col?*/}
        }
        &.spending {
            background-image: url(../images/fpo/spending.png);
            .desktop & {
                @include span(2);
            }
            .mobile & {/* row? col?*/}
        }
        //  R5 semantic
        /* - - - - - - - - - - - - - - - - - - - - - */
        &.calc {
            background-image: url(../images/fpo/calc.png);
            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        &.babe {
            background-image: url(../images/fpo/sq_babe.png);
            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        &.manage {
            background-image: url(../images/fpo/manage.png);
            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        &.dude {
            background-image: url(../images/fpo/sq_dude.png);
            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        &.cover {
            background-image: url(../images/fpo/cover.png);
            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        &.phone {
            background-image: url(../images/fpo/sq_phone.png);
            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        /* - - - - - - - - - - - - - - - - - - - - - */
        // next row

        &.filler {
            background-image: url(../images/photos/filler.png);
            height: 315px;
        }

        &:hover {
            &.red, &.green, &.purple, &.amber, &.plum, &.teal {
                cursor: pointer !important;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
