/* TILE */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Layout.tiles {
    ///grid
    padding-bottom: $unit;
    padding-top: $unit * 8;
    position: relative;
    z-index: 1;

    @mixin span($col: 1, $row: 1) {
        width: $col * $wt + ($col - 1) * $unit;
        height: $row * $ht + ($row - 1) * $unit;
    }
    $_orange: #ce4c00;
    $_red: #ae1e23;
    $_green: #007337;
    $_purple: #4d3b65;
    $_teal: #00698c;
    $_poop: #7a6855;
    $_brown: #574537;
    $_plum: #821861;
    $_slate: #44464a;

    .collapse {
        display: none;
    }
    article {
        background-repeat: no-repeat;
        display: inline-block;
        float: left;
        min-height: 100px; min-width: 100px;
        margin: $unit 0 0 $unit;
        position: relative;
        @include nosel();
        @include box-sizing(border-box);
        @extend %ani;

        &:not(:empty) {

            &:hover {
                @include textshadow();
                opacity: 0.9;
            }
        }

        //  R1 semantic
        /* - - - - - - - - - - - - - - - - - - - - - */
        &._girls {
            background-image: url(../images/photos/big_girls.jpg);

            .desktop & {
                @include span(3, 2);
            }
            .mobile & {/* row? col?*/}
        }
        &._quiz {
            background-image: url(../images/misc/quiz.png);

            .desktop & {
                font-size: 130%;
                @include span(2, 2);
            }
            .mobile & {/* row? col?*/}
        }
        &._cafe {
            background-image: url(../images/photos/sq_cafe.jpg);

            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        //  R2 semantic
        /* - - - - - - - - - - - - - - - - - - - - - */
        &._desk {
            background-image: url(../images/photos/sq_desk.jpg);

            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        //  R3 semantic
        /* - - - - - - - - - - - - - - - - - - - - - */
        &._fellows {
            background-image: url(../images/misc/burnish.png);
            background-color: $_poop;
            .desktop & {
                @include span(2);
            }
            .mobile & {/* row? col?*/}
        }
        &._dude {
            background-image: url(../images/photos/sq_dude.jpg);
            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        &._steps {
            background-image: url(../images/photos/steps.jpg);
            background-color: $_teal;

            .desktop & {
                padding-left: 15em;
                @include span(3);
            }
            .mobile & {/* row? col?*/}
        }
        //  R4 semantic
        /* - - - - - - - - - - - - - - - - - - - - - */
        &._credit {
            background-image: url(../images/misc/burnish.png);
            background-color: $_slate;

            .desktop & {
                @include span(2);
            }
            .mobile & {/* row? col?*/}
        }
        &._car {
            background-image: url(../images/misc/burnish.png);
            background-color: $_green;

            .desktop & {
                @include span(2);
            }
            .mobile & {/* row? col?*/}
        }
        &._spending {
            background-image: url(../images/misc/burnish.png);
            background-color: $_red;

            .desktop & {
                @include span(2);
            }
            .mobile & {/* row? col?*/}
        }
        //  R5 semantic
        /* - - - - - - - - - - - - - - - - - - - - - */
        &._paying {
            background-image: url(../images/misc/burnish.png);
            background-color: $_green;

            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        &._calc {
            background-image: url(../images/misc/burnish.png);
            background-color: $_plum;

            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        &._phone {
            background-image: url(../images/photos/sq_phone.jpg);

            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        &._cover {
            background-image: url(../images/misc/burnish.png);
            background-color: $_brown;

            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        &._manage {
            background-image: url(../images/misc/burnish.png);
            background-color: $_teal;

            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
        &._talk {
            background-image: url(../images/misc/burnish.png);
            background-color: $_purple;

            a.shiny {
                padding-left: $unit / 2;
                padding-right: $unit / 2;
            }
            .desktop & {
                @include span();
            }
            .mobile & {/* row? col?*/}
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
